
.contacts__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding-left: 130px;
    padding-right: 130px;
    max-width: 1200px;
  }
}

.contacts__header, .contacts__come {
  @media (min-width: @tablet-width) {
    min-width: 100%;
  }
}

.contacts__come {
  @media (min-width: @desktop-width) {
    min-width: auto;
  }
}


.contacts__main-text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;
}

.contacts__text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.contacts__data {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  text-align: center;
  color: @color-hit;
  display: block;
}
