
.download {
  background-color: @color-darkblue;
}

.download__wrapper {
  min-height: 733px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: @tablet-width) {
  .download__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media (min-width: @desktop-width) {
      margin: 0 auto;
      padding-left: 130px;
      padding-right: 130px;
      max-width: 1200px;
    }
  }
}

.download__container {
  color: @color-white;
  padding-top: 20px;
  padding-bottom: 30px;

  @media (min-width: @tablet-width) {
    width: 50%;
    padding: 0;
  }
}

.download__header {
  color: @color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: @tablet-width) {
    width: 50%;
  }
}

.download__slogan {
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  padding-top: 64px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 48px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 100px;
    padding-right: 100px;
    font-size: 50px;
    line-height: 68px;
  }
}

.download__list {
  list-style: none;
  margin: 23px 0px;
  padding: 0;
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    margin-top: 30px;
    margin-bottom: 25px;
  }
}

.download__item {
  padding: 0px 17px;
}

.download__intro {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}

.download__button {
  padding: 18px 42px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @color-white;
  background: rgba(0, 0, 0, 0);
  border: solid 3px @color-white;
  border-radius: 29px;
  display: block;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding: 18px 52px;
    margin-top: 30px;
    margin-bottom: 25px;
  }
}
