

.download__container {
  background-color: @color-darkblue;
  color: @color-white;
}

.download__slogan {
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}

.download__list {
  list-style: none;
}
