
.news {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @desktop-width) {
    padding-left: 130px;
    padding-right: 130px;
  }

  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.news__wrapper {
  width: 50%;

  @media (min-width: @desktop-width) {
    width: 75%;
  }
}
