.main-wrapper {
  position: relative;
}

.page-header {
  width: 100%;
  position: absolute;
  color: @color-white;
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header--opened {
  position: relative;
  background-color: @color-basic;

  @media (min-width: @desktop-width) {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.page-header__logo {
  padding: 20px;
  /* min-height: 23px; */
  height: 100%;
  width: 75px;
  display: block;
  background-image: url(../img/logo-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: @tablet-width) {
    background-image: url(../img/logotype-white-tablet.svg);
    min-width: 145px;
  }

  @media (min-width: @desktop-width) {
    background-image: url(../img/logotype-white-desktop.svg);
    margin-bottom: 8px;
    min-width: 109px;
  }
}

.page-header__wrapper {
  padding-top: 13px;
  padding-bottom: 13px;

  @media (min-width: @tablet-width) {
    padding-top: 25px;
    padding-bottom: 43px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 32px;
    max-width: 940px;
    margin: 0 auto;
  }
}
