
.tariffs {
  background-color: @color-grey;
}

.tariffs__wrapper {
  padding: 40px 20px;

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding-left: 130px;
    padding-right: 130px;
    max-width: 1200px;
  }
}

.tariffs__scroll {
  overflow-x: auto;
}

.tariffs__list {
  background-color: @color-white;
  color: @color-basic;
  border: 2px solid;
  border-color: @color-button-disabled;
  border-collapse: collapse;
  width: 100%;
}

.tariffs__list td {
  border: 2px solid;
  border-color: @color-button-disabled;
  min-width: 153px;
}

.tariffs__name {
  width: 234px;
  padding-top: 12px;
  padding-bottom: 27px;
  background-color: @color-darkblue;
  color: @color-white;
  text-align: center;
}

.tariffs-package {
  width: 276px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.tariffs-price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  margin: 0;
}

.tariffs__mark {

  &--have {
    background-image: url(../../img/yes.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &--nohave {
    background-image: url(../../img/no.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.tariffs-option {
  width: 234px;
  padding: 18px 22px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;

  @media (max-width: @mobile-width-only) {
    text-transform: uppercase;
  }
}

.tariffs__toggles {
  text-align: center;

    @media (min-width: @tablet-width) {
      display: none;
  }
}
