
.journey {
  background-color: @color-grey;

  @media (max-width: @mobile-width-only) {
    background-color: @color-white;
  }
}

.journey__wraper-desktop {
  display: flex;
  flex-direction: column;

  @media (max-width: @mobile-width-only) {
    border: 0;
  }
}

.journey__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @color-hit;
  text-align: center;
}

.journey__adventures {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
}
