
.participant__header {
  background-color: @color-darkblue;
  min-height: 200px; /*убрать, когда появится картинка*/
}

.participant__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  margin: 0;
  text-align: center;
  color: @color-white;
}

.participant-text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
}

.participant__platform {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  background-color: @color-grey;
  color: @color-hit;
}

.participant__app {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: @color-black;
  text-transform: none;
}
