
.platform {    /*сделать импорт файла в стайл.лесс*/
  display: flex;
  flex-direction: column;
}

.participant__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @color-hit;
}
