
.user {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  grid-column-start: 1;
  grid-column-end: 3;

  @media (min-width: @tablet-width) {
    order: -2;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.user__name {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @color-hit;
}

.user__entryfield {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
}
